.gridContainer {
	display: grid;
	gap: 32px;
	grid-template-columns: auto auto auto auto;
}

.error-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	font-family: 'Readex Pro', sans-serif;
	font-style: normal;
	border-radius: 8px;
	border: none;
	padding: 8px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: 'center';
	cursor: pointer;
}
